<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.hjd.com.service2">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!--显式启动的时候的配置-->
        <!--<service android:name=".FirstService" />-->

        <service android:name=".FirstService">
            <intent-filter>
                <action android:name="firstservicee" />
            </intent-filter>
        </service>

        <service android:name=".ForeGroundService" />

        <service android:name=".MyIntentService" />

        <service android:name=".RemoteService" android:process=":remote">
            <intent-filter>
                <action android:name="test.hjd.com.service2.remoteservice" />
            </intent-filter>
        </service>


        <service android:name=".ScreenService" />
    </application>

</manifest>